
Missions/1. Python Introduction/Fundamentals/1. Python Basics/.ipynb_checkpoints/Python_fundamentals-checkpoint.ipynb
Missions/1. Python Introduction/Fundamentals/1. Python Basics/.ipynb_checkpoints/script-checkpoint.py
Missions/1. Python Introduction/Fundamentals/.ipynb_checkpoints/Python_fundamentals-checkpoint.ipynb
Missions/1. Python Introduction/Fundamentals/.ipynb_checkpoints/script-checkpoint.py
Missions/1. Python Introduction/Fundamentals/data/.ipynb_checkpoints/AppleStore-checkpoint.csv
Missions/1. Python Introduction/Intermediate/.ipynb_checkpoints/Python_intermediate-checkpoint.ipynb
Projects/1. Python For Data Science/.ipynb_checkpoints/Learn and Install Jupyter Notebook-checkpoint.ipynb
Projects/1. Python For Data Science/.ipynb_checkpoints/Profitable App Profiles-checkpoint.ipynb
Missions/1. Python Introduction/Intermediate/.ipynb_checkpoints/Cleaning and Preparing Data-checkpoint.ipynb
Projects/1. Python For Data Science/.ipynb_checkpoints/Exploring Hacker News Posts-checkpoint.ipynb
Projects/.ipynb_checkpoints/1. Profitable App Profiles-checkpoint.ipynb
Projects/.ipynb_checkpoints/2. Exploring Hacker News Posts-checkpoint.ipynb
Missions/1. Python Introduction/Intermediate/data/.ipynb_checkpoints/artworks-checkpoint.csv
Missions/1. Python Introduction/Intermediate/.ipynb_checkpoints/Python Data Analysis Basics-checkpoint.ipynb
Missions/1. Python Introduction/Intermediate/.ipynb_checkpoints/1. Cleaning and Preparing Data-checkpoint.ipynb
Missions/1. Python Introduction/Intermediate/.ipynb_checkpoints/2. Python Data Analysis Basics-checkpoint.ipynb
Missions/1. Python Introduction/Intermediate/.ipynb_checkpoints/3. Object Oriented Python-checkpoint.ipynb
Missions/1. Python Introduction/Intermediate/.ipynb_checkpoints/4. Working with Dates and Times in Python-checkpoint.ipynb
Missions/1. Python Introduction/Intermediate/data/.ipynb_checkpoints/potus_visitors_2015-checkpoint.csv
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/.ipynb_checkpoints/1. Introduction to NumPy-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/.ipynb_checkpoints/3. Introduction to pandas-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/.ipynb_checkpoints/2. Boolean Indexing with NumPy-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/.ipynb_checkpoints/4.  Exploring Data with pandas (Fundamentals)-checkpoint.ipynb
Projects/data/.ipynb_checkpoints/hacker_news-checkpoint.csv
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/.ipynb_checkpoints/5. Exploring Data with pandas (Intermediate)-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/.ipynb_checkpoints/6. Data Cleaning Basics-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/data/.ipynb_checkpoints/nyc_taxis-checkpoint.csv
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/data/.ipynb_checkpoints/f500-checkpoint.csv
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/.ipynb_checkpoints/4.  Exploring Data with pandas-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/.ipynb_checkpoints/5. Data Cleaning Basics-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/2. Exploratory Data Visualization/.ipynb_checkpoints/1. Line Charts-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/2. Exploratory Data Visualization/.ipynb_checkpoints/2. Multiple plots-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/2. Exploratory Data Visualization/.ipynb_checkpoints/3. Bar Plots And Scatter Plots-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/2. Exploratory Data Visualization/.ipynb_checkpoints/4. Histograms And Box Plots-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/1. Pandas and NumPy Fundamentals/data/.ipynb_checkpoints/laptops_cleaned-checkpoint.csv
Projects/.ipynb_checkpoints/3. Exploring Ebay Car Sales Data-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/2. Exploratory Data Visualization/data/.ipynb_checkpoints/unrate-checkpoint.csv
Missions/2. Data Analysis and Visualization/2. Exploratory Data Visualization/data/.ipynb_checkpoints/fandango_scores-checkpoint.csv
Projects/.ipynb_checkpoints/4. Visualizing Earnings Based On College Majors-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/2. Exploratory Data Visualization/_images/.ipynb_checkpoints/boxplot_intro-checkpoint.png
Projects/data/.ipynb_checkpoints/recent-grads-checkpoint.csv
Missions/2. Data Analysis and Visualization/3. Storytelling Through Data Visualization/.ipynb_checkpoints/1. Improving Plot Aesthetics-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/3. Storytelling Through Data Visualization/.ipynb_checkpoints/2. Color, Layout, and Annotations-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/3. Storytelling Through Data Visualization/.ipynb_checkpoints/3. Conditional Plots-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/3. Storytelling Through Data Visualization/.ipynb_checkpoints/4. Visualizing Geographic Data-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/3. Storytelling Through Data Visualization/data/.ipynb_checkpoints/percent-bachelors-degrees-women-usa-checkpoint.csv
Projects/.ipynb_checkpoints/5. Visualizing The Gender Gap In College Degrees-checkpoint.ipynb
Projects/_images/.ipynb_checkpoints/gender_degrees-checkpoint.png
Projects/.ipynb_checkpoints/6. Clean And Analyze Employee Exit Surveys-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/3. Storytelling Through Data Visualization/data/.ipynb_checkpoints/titanic-train-checkpoint.csv
Missions/2. Data Analysis and Visualization/3. Storytelling Through Data Visualization/data/.ipynb_checkpoints/airports-checkpoint.csv
Missions/2. Data Analysis and Visualization/3. Storytelling Through Data Visualization/data/.ipynb_checkpoints/geo_routes-checkpoint.csv
Missions/2. Data Analysis and Visualization/4. Data Cleaning and Analysis/.ipynb_checkpoints/1. Data Aggregation-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/4. Data Cleaning and Analysis/.ipynb_checkpoints/2. Combining Data With Pandas-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/4. Data Cleaning and Analysis/.ipynb_checkpoints/3. Transforming Data With Pandas-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/4. Data Cleaning and Analysis/.ipynb_checkpoints/4. Working With Strings In Pandas'-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/4. Data Cleaning and Analysis/.ipynb_checkpoints/5. Working With Missing And Duplicate Data-checkpoint.ipynb
Missions/2. Data Analysis and Visualization/4. Data Cleaning and Analysis/data/.ipynb_checkpoints/2015-checkpoint.csv
